*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}
body {
    background-color: #FAFAFC;
    width: 100%;
    min-width: 1080px;
}
header {
    width: 1080px;
    min-width: 1080px;
    margin: 10px;
}