*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img:hover {
    cursor: pointer;
}
body {
    background-color: #FAFAFC;
    width: 100%;
    min-width: 1200px;
}
.wrapper {
    min-width: 1200px;
}
header {
    background-color: #FAFAFC;
    width: 100%;
    min-width: 1200px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1;
}
.top_nav {
    width: 100%;
    min-width: 1200px;
    background-color: #2d1152;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}
.top_nav a {
    color: #fff;
}
.top_nav a:hover {
    text-decoration: underline #fff;
}
.nav_left ul {
    display: flex;
    justify-content: space-between;
}
.nav_left li {
    margin: 0px 10px;
    font-size: 14px;
}
.nav_left .home {
    width: 20px;
    vertical-align: middle;
}
.nav_right .taiwan {
    width: 50px;
    vertical-align: middle;
}
.nav_right a {
    font-size: 14px;
    font-weight: bold;
}
.bar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.bar_left img {
    width: 150px;
}
.bar_right {
    width: 1035px;
    height: 80px;
}
.bar_top {
    display: flex;
    justify-content: space-between;
}
.search_in {
    width: 650px;
}
.search_box {
    width: 600px;
    background-color: white;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    padding-left: 20px;
    margin: 10px;
}
.search_box input {
    font-size: 18px;
    padding: 8px;
    width: 400px;
    color: #666666;
    border: 0;
}
.search_btn {
    float: right;
    width: 72px;
    height: 42px;
    margin-top: -1px;
    margin-right: -1px;
    border-radius: 25px;
    background-color: rgb(81, 35, 155);
}
.search_btn img {
    width: 25px;
    margin: 10px 25px;
}
.search_pen {
    float: right;
    margin-top: -40px;
}
.search_pen img {
    width: 20px;
}
.bar_weather {
    width: 270px;
    float: right;
    margin-top: 20px;
}
.bar_weather ul {
    display: flex;
    justify-content: space-between;
}
.bar_weather .weather {
    margin-right: 15px;
}
.bar_weather .weather img {
    width: 45px;
    vertical-align: bottom;
}
.bar_weather .user {
    margin-right: 30px;
}
.bar_weather .user img {
    width: 25px;
    vertical-align: bottom;
}
.bar_weather .mail img {
    width: 40px;
    vertical-align: bottom;
}
.hot_search {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.hot_search ul {
    display: flex;
    justify-content: space-between;
}
.hot_search_title {
    font-size: 14px;
}
.hot_search li a {
    border-right: 1px solid #d6d6d6;
    font-size: 13px;
    color: rgb(47, 117, 207);
    padding: 0px 5px;
}
.hot_search li a:hover {
    text-decoration: underline rgb(47, 117, 207);
}
.hot_search span a {
    font-size: 13px;
    color: rgb(47, 117, 207);
}
.content {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    width: 160px;
    min-width: 160px;
    height: 800px;
    padding: 5px 5px 0px 10px; 
    background-color: #FAFAFC;
    display: flex;
    justify-content: space-between;
}
.sidebar li a {
    color: rgb(29, 29, 163);
    line-height: 30px;
    font-size: 15px;
}
.sidebar .sidebar_title  {
    color:red;
}
.content_center {
    width: 640px;
    height: 1760px;
    margin: 0 10px;
    margin-left: 10px;
}
.topnews {
    margin-top: 10px;
    background-color: #ff6c0f;
    border-radius: 5px;
    padding: 10px 15px;
}
.topnews a {
    color: #fff;
}
.topnews_text:hover {
    text-decoration: underline #fff;
}
.topnews_title {
    font-weight: bold;
    margin-right: 10px;
}
.topnews img {
    width: 45px;
    vertical-align: bottom;
    float: right;
}
.news_top {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: #f1f1f1;
    border: 1px solid #cecece;
    text-align: center;
}
.news_top a {
    padding: 5px 15px;
    line-height: 40px;
    color: #000;
    width: 128px;
}
.news_top a:hover {
    border-top: 3px solid rgb(115, 0, 255);
    background-color: #fff;
    font-weight: bold;
    color: rgb(115, 0, 255);
}
.news_img  {
    background-color: #fff;
    padding: 10px;
}
.news_img img {
    width: 360px;
    height: 210px;
}
.news_img .img {
    width: 178px;
    height: 100px;
}
.news_content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #cecece;
    border-top: 0;
    padding: 5px;
}
.news_right ul {
    height: 330px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.news_list .list_text {
    color:rgb(95, 95, 95);
    font-size: 13px;
}
.news_list li a {
    color: rgb(50,79,225);
    font-weight: bold;
}
.news_list li a:hover {
    text-decoration: underline rgb(50,79,225);
}
.news_market {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: #f1f1f1;
    border: 1px solid #cecece;
    text-align: center;
    line-height: 35px;
}
.top_text {
    width: 115px;
    color: black;
}
.top_text:hover {
    border-top: 3px solid rgb(115, 0, 255);
    background-color: #fff;
    font-weight: bold;
    color: rgb(115, 0, 255);
}
.market_card img {
    width: 15px;
    vertical-align: middle;
}
.market_card {
    font-size: 12px;
}
.market_card:hover {
    text-decoration: underline;
}
.market_img {
    width: 640px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #cecece;
    border-top: 0;
}
.market_img img {
    width: 100px;
}
.hotnews_top {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #400090;  
    text-align: center; 
}
.hotnews_top a {
    color: #fff;
    width: 128px;
    padding: 8px;;
}
.hotnews_top a:hover {
    background-color: rgb(110, 27, 245);
    font-weight: bold;
}
.news_area {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 10px;
}
.area_left {
    margin-right: 10px;
}
.area_left img {
    width: 80px;
}
.news_area a {
    color: rgb(50, 79, 225);
}
.news_area a:hover {
    text-decoration: underline rgb(50, 79, 225);
}
.area_right p {
    color:rgb(95, 95, 95);
}
.area_right p:hover {
    cursor: pointer;
}
.area_right .news_channel {
    font-size: 12px;
    color: rgb(171, 174, 183);
}
.other {
    position: relative;
    width: 380px;
    min-width: 340px;
    padding: 0 5px;
    margin-top: 15px;
    height: 1760px;
    min-height: 1760px;
}
.other_top .boradcast {
    width: 360px;
}
.other_center {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.main_title {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    border: 1px solid #cecece;
    text-align: center;
    width: 360px;
    line-height: 35px;
    margin-top: 15px;
}
.main_title p {
    color:rgb(63, 63, 63);
    padding-left: 10px;
}
.main_title a {
    color: #000;
    width: 100px;
}
.main_title a:hover {
    border-top: 3px solid rgb(115, 0, 255);
    background-color: #fff;
    font-weight: bold;
    color: rgb(115, 0, 255);
}
.main_content {
    width: 360px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #cecece;
    border-top: 0;
}
.main_content a {
    color:rgb(54, 86, 226);
    font-size: 14px;
    font-weight: bold;
}
.main_content a:hover {
    text-decoration: underline rgb(54, 86, 226);
}
footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 360px;
    display: flex;
    justify-content: space-between;
}
footer ul {
    width: 280px;
}
footer li {
    float: left;
    margin-right: 30px;
}
footer li a {
    font-size: 11px;
    color: rgb(78, 42, 238);
}
.arrowup img {
    width: 50px;
}